{% extends "base.html" %}
{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to my website</h1>
      <p class="lead">I am currently pursuing my Front End Libraries Certification from freeCodeCamp.</p>
      <p class='lead'>Please use the tabs in the navigation bar above to view my resume and LinkedIn and GitHub profiles.</p>
      <div class="container">
        <img src="../static/IMG_0724.jpg" alt="" width=auto height="300">
      </div>
    </div>
  </div>

{% endblock %}
